.header
{
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light,0.8), rgba($color-primary-dark,0.8) ),
                      url(../images/devushka-volosy-spina-odeyala.jpg);
    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon( 0 0,100% 0,100% 75vh,0 100%);
    clip-path: polygon( 0 0,100% 0,100% 75vh,0 100%);
    &__logo-box{
        position: absolute;
        top: 6rem;
        left: 6rem;
    }

    &__logo{
        height: 5rem;
    }

    &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }

}
