.btn{
    &:link,
     &:visited
    {
        text-decoration: none;
        text-transform: uppercase;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;  
        
    }
    
    &:hover
    {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba($color-black, .2);
        &::after
        {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &:active
    {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba($color-black, .2);
    }
    
    &--white
    {
        background-color: $color-white;
        color: $color-gray-dark;
        &::after
        {
            background-color: $color-white;
        
        }
    }
    &--green
    {
        background-color: $color-primary;
        color: $color-white;
        &::after
        {
            background-color: $color-primary;
        
        }
    }
    
    &::after
    {
        content: "";
        width: 100%;
        height: 100%;
        display: inline-block;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
      
    &--animated
    {
        animation-name: moveInBottom;
        animation-timing-function: ease-out;
        animation-duration: .5s;
    } 
}

.btn-text{
    &:link,
    &:visited{
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: .3rem;
        font-size: 1.6rem;

    }
    &:hover{
        background-color: $color-primary;
        color: $color-white;
        transform: translateY(-2px);
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        &:active{
            transform: translateY(0);
             box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        }
    }
}