.story{
    width: 75%;
    padding: 6rem;
    margin: 0 auto;
    background-color: rgba($color-white,.6);
    border-radius: 3px;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    font-size: 1.6rem;
    transform: skewX(-12deg);

    &__shape{
        width: 15rem;
        height: 15rem;
        float: left;
       -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
    
    }
    &__img{
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        transition: all .5s;
        backface-visibility: hidden;

    }
    &__caption{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,20%);
        color: $color-white;
        font-size: 1.7;
        text-transform: uppercase;
        text-align: center; 
        opacity: 0;
        transition: all .5s;
          backface-visibility: hidden;
    }
    &:hover &__caption{
        opacity: 1;
        transform: translate(-50%,-50%);
    }
    &:hover &__img{
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }

    &__text{
        transform: skewX(12deg);
    }
}