.section-about{
    background-color: $color-gray-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
    
}
.section-features{
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light,0.8), rgba($color-primary-dark,0.8) ),
    url(../../images/nat-4.jpg);
    transform: skewY(-7deg);
    margin-top: -10rem; 
    &>*{
        transform: skewY(7deg);
        
    }
}

.section-tours{
    padding: 25rem 0 20rem 0;
    background-color: $color-gray-light-1;
    margin-top: -10rem;
}

.section-stories{
    padding: 15rem  0;
    
   position: relative;
}